@mixin display-flex (
  $justify-content,
  $align-items: 'center',
  $flow: 'row nowrap',
  $gap: 0,
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-flow: $flow;
  gap: $gap;
}
