.main {
  &__top {
    margin-bottom: 1em;
  }

  &__todo-list {
    @include display-flex(center, flex-start);
  
    &__todo,
    &__done {
      width: 50%;
      padding: 1em;
      min-height: 400px;
  
      h4 {
        margin-bottom: 1em;
      }
    }
  
    &__todo {
      border-right: 1px solid #D5D5D5;
    }
  
    &__todo__content,
    &__done__content {
      @include display-flex(initial, center, row wrap, 20px 20px);
    }
  }
}
